<ion-view view-title="Donation">
  <ion-content>
		<div class="row">
			<div class="col">
				<h3>Donation</h3>
				<p>Maha Prasad Seva: A great way to offer seva during weekends. For a donation of $301, lunch prasad will be served to devotees (up to 75 people) at the temple on Saturday / Sunday.</p>
				<p>Our temple kitchen needs 5 Compartment lunch plates, spoons, napkins, 10 oz water cups, 8 oz foam cups, large carryout foam boxes, big cans of garbanzo beans, tomato puree cans and frozen nans (last three from Gordon Foods). Devotees are requested to donate these items in large quantities or donate money to buy these items.</p>
				<p>Contact: Shanti Pathak (317-844-0466 / pathakgee@sbcglobal.net).</p>
			</div>
		</div>
  </ion-content>
</ion-view>
