<ion-view view-title="HTCI">
  <ion-content>
		<h3 style="text-align: center;" id="date"></h3>
		<ion-slide-box does-continue="true" auto-play="true" on-slide-changed="slideHasChanged($index)">
			<ion-slide>
				<img style="max-width: 100%;max-height:100%;" src="img/home/logo.png" />
			</ion-slide>
			<ion-slide>
				<img style="max-width: 100%;max-height:100%;" src="img/home/kalash.jpg" />
			</ion-slide>
			<ion-slide>
				<img style="max-width: 100%;max-height:100%;" src="img/home/om.png" />
			</ion-slide>
		</ion-slide-box>
		<ion-tabs class="tabs-positive tabs-icon-only">
			<ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/app/index">
				<!-- Tab 1 content -->
				<ion-nav-view name="home-tab"></ion-nav-view>
			</ion-tab>
			<ion-tab title="test" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/other/index">
				<!-- Tab 2 content -->
				<ion-nav-view name="other-tab"></ion-nav-view>
			</ion-tab>
		</ion-tabs>
  </ion-content>
</ion-view>
