<ion-view view-title="Temple Info">
	<ion-content class="light">
		<div class="row">
			<div class="col">
				<h3 class="light">Hours</h3>
				<p>M-F:10AM-NOON AND 6-8PM</p>
				<p>SA-SUN: 9AM-8PM</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 class="light">Address</h3>
				<p>3350 NORTH GERMAN CHURCH ROAD,</p>
				<p>INDIANAPOLIS, IN, 46235</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 class="light">Phone/Email</h3>
				<a href="tel:+1-317-891-9199" class="light">(317)891-9199</a>
				<p>WEBMASTER@HTCI.ORG</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Tours of the Temple along with a brief introduction to Hinduism may be arranged on the first Monday of the month at 6 PM. Tours for a group of people are preferred. If you / your group would like to arrange a tour, please contact Indu Vasudevan at htcivasu@yahoo.com. Other times may be available upon request.
				</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>For "Annadan" or Kitchen Sponsorship, please contact Mrs. Shanti Pathak, Kitchen Coordinator, at <a href="tel:+1-317-844-0466" class="light">(317)844-0466</a> or send an email to <a href="mailto:pathakgee@sbcglobal.net">pathakgee@sbcglobal.net</a></p>
			</div>
		</div>
	</ion-content>
</ion-view>
