<ion-view view-title="Temple Info">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				Hours
			</div>
			<div class="item item-text-wrap">
				<p>M-F:10AM-NOON AND 6-8PM</p>
				<p>SA-SUN: 9AM-8PM</p>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Address
			</div>
			<div class="item item-text-wrap">
				<p>3350 NORTH GERMAN CHURCH ROAD,</p>
				<p>INDIANAPOLIS, IN, 46235</p>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Phone/Email
			</div>
			<div class="item item-text-wrap">
				<a href="tel:+1-317-891-9199">(317)891-9199</a>
				<p>WEBMASTER@HTCI.ORG</p>
			</div>
		</div>
	</ion-content>
</ion-view>
