<ion-view view-title="Temple Info">
	<ion-content class="dark">
		<img style="max-width: 100%;" src="img/info/info.jpg" />
		<div class="row">
			<div class="col">
				<h3 class="dark">Hours</h3>
				<p>M-F:10AM-NOON AND 6-8PM</p>
				<p>SA-SUN: 9AM-8PM</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 class="dark">Address</h3>
				<p>3350 NORTH GERMAN CHURCH ROAD,</p>
				<p>INDIANAPOLIS, IN, 46235</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24516.35880548473!2d-85.97428457938864!3d39.817200229969714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b497788c013d1%3A0x7bb85458f0147679!2s3350+N+German+Church+Rd%2C+Indianapolis%2C+IN+46235!5e0!3m2!1sen!2sus!4v1429319060154" width="100%" height="50%" frameborder="0" style="border:0"></iframe>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 class="dark">Phone/Email</h3>
				<a href="tel:+1-317-891-9199" class="dark">(317)891-9199</a>
				<p>WEBMASTER@HTCI.ORG</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Tours of the Temple along with a brief introduction to Hinduism may be arranged on the first Monday of the month at 6 PM. Tours for a group of people are preferred. If you / your group would like to arrange a tour, please contact Indu Vasudevan at htcivasu@yahoo.com. Other times may be available upon request.
				</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>For "Annadan" or Kitchen Sponsorship, please contact Mrs. Shanti Pathak, Kitchen Coordinator, at <a href="tel:+1-317-844-0466" class="dark">(317)844-0466</a> or send an email to <a class="dark" href="mailto:pathakgee@sbcglobal.net">pathakgee@sbcglobal.net</a></p>
			</div>
		</div>
	</ion-content>
</ion-view>
