<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/index">
          Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/info">
          Temple Info
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/calendar">
          Calendar
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/index">
          Seva
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/index">
          Balagokulam
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/index">
          Social Media
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/index">
          QR Scanner
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/index">
          Contact Us
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/index">
          Emergency
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Website
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
