<ion-view view-title="Sponsorship">
  <ion-content>
		<div class="row">
			<div class="col">
				<h3>Sponsorship</h3>
				<h4>Sannidi Sponsorship Form</h4>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>Membership Form</h4>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>Donation Form</h4>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="button" ng-click="paypal()">Paypal</button>
			</div>
		</div>
  </ion-content>
</ion-view>
