<ion-view view-title="Volunteer">
  <ion-content>
		<div class="row">
			<div class="col">
				<h4>Areas that need volunteer service:</h4>
			</div>
		</div>
		<ul class="list">
			<li class="item" ng-repeat="item in list">
				<h2>{{item.area}}</h2>
				<p>{{item.description}}</p>
			</li>
		</ul>
		<div class="row">
			<div class="col">
				<button class="button button-block" onclick="window.open('https://docs.google.com/forms/d/18FBDGJKO-Sj7dTeoypBpziBZtwhy4GQlQlculmSeytk/viewform?c=0&w=1', '_system')">Volunteer Pledge Sheet</button>
			</div>
		</div>
		<div class="row">
			<div class="col">Contact Ravi Dinakaran Phone: (317) 213-6920; Email: ravi_chand@yahoo.com</div>
		</div>
  </ion-content>
</ion-view>
