<ion-view view-title="Parking Information">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				FREE Parking
			</div>
			<div class="item item-image">
				<img src="img/parking.png">
			</div>
			<div class="item item-text-wrap">
				In order to accommodate the large number of guests attending the celebrations, we have made special parking arrangements. Parking from <strong>8AM Wednesday, June 3rd until 3PM Friday, June 5th will be at Parking Lot 1: HTCI (3350 N. German Church Rd).</strong><br>
				Parking from <strong>3PM Friday, June 5th through Sunday, June 7th will only be at Parking Lot 2: John Marshall High School (10101 E. 38th St).</strong>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Shuttle Service
			</div>
			<div class="item item-text-wrap">
				There will be shuttle buses available to continuously take guests back and forth from the High School to HTCI. Although the Temple has also made special arrangements for your safety and security, please do not leave valuables in your vehicle. Please carpool if possible.
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				Contact Sandeep (<a href="tel:+13175327284">(317)532-7284</a> or <a href="mailto:sagupta721@gmail.com">sagupta721@gmail.com</a>) or Prabhakar (<a href="tel:+13173719665">(317)371-9665</a>) if you have questions regarding parking.
			</div>
		</div>
	</ion-content>
</ion-view>
