<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content class="has-tabs">
		<ion-nav-bar class="bar-stable">
			<ion-nav-buttons side="left">
				<button class="button back-button button-clear" ng-click="goBack()">
					<i class="icon ion-ios-arrow-back"></i> Back
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
</ion-side-menus>
<div class="tabs tabs-temple">
	<a class="tab-item" href="#/app/">
		HTCI
	</a>
	<a class="tab-item" href="#/kumbhabhishekam/">
		Kumbhabhishekam
	</a>
	<a class="tab-item active" href="#/updates/">
		Updates
	</a>
</div>
