<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content class="has-tabs">
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu class="temple-orange" side="left">
		<ion-content class="has-tabs">
			<ion-list class="nav">
				<ion-item nav-clear menu-close href="#/app/index" class="item-icon-left"><i class="icon ion-home"></i>
					HTCI
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/info" class="item-icon-left"><i class="icon ion-information-circled"></i>
					Temple Info
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/calendar" class="item-icon-left"><i class="icon ion-calendar"></i>
					Calendar
				</ion-item>
				<ion-item ng-click="toggle()" class="item-icon-left"><i class="icon ion-help"></i>Help
				</ion-item>
				<ion-list id="help-list" style="display:none;">
					<ion-item nav-clear menu-close href="#/app/sponsorship" class="item-icon-left"><i class="icon ion-cash"></i>Sponsorship</ion-item>
					<ion-item nav-clear menu-close href="#/app/donation" class="item-icon-left"><i class="icon ion-social-usd"></i>Donation</ion-item>
					<ion-item nav-clear menu-close href="#/app/volunteer" class="item-icon-left"><i class="icon ion-android-hand"></i>Volunteer</ion-item>
				</ion-list>
				<ion-item nav-clear menu-close href="#/app/social-media" class="item-icon-left"><i class="icon ion-social-facebook"></i>
					Social Media
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/balagokulam" class="item-icon-left"><i class="icon ion-ios-book"></i>
					Balagokulam
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/contact" class="item-icon-left"><i class="icon ion-ios-telephone"></i>
					Contact Us
				</ion-item>
				<!--<ion-item nav-clear menu-close href="#/app/qr" class="item-icon-left"><i class="icon ion-qr-scanner"></i>
					QR Scanner
				</ion-item>-->
				<ion-item nav-clear menu-close href="#/app/browse" class="item-icon-left"><i class="icon ion-earth"></i>
					Website
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
<div class="tabs tabs-temple">
	<a class="tab-item" href="#/app/index">
		HTCI
	</a>
	<a class="tab-item" href="#/kumbhabhishekam/index">
		Kumbhabhishekam
	</a>
	<a class="tab-item active" href="#/updates/index">
		Updates
	</a>
</div>
