<ion-view view-title="About">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				Copyright 2016 Hindu Temple of Central Indiana
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				Developed and donated by Vincent Mai, Aryaman Gupta, Aditya Shahi, and HTCI Chetana
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				Please email <a href="mailto:chetanahtci@htci.org">chetanahtci@htci.org</a> if you have any questions, comments, or concerns about the app.
			</div>
		</div>
	</ion-content>
</ion-view>
