<ion-view view-title="Balagokulam">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				“Every child has that spark of divinity within.” –Swami Vivekananda
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				Balagokulam is a forum for children to discover and manifest that divinity. It will enable Hindu children in the US to appreciate their cultural roots and learn Hindu values. This is done through games, yoga, stories, bhajans, shlokas, arts and crafts. Balagokulam and Chetna (Youth) programs are of 90 minutes duration that includes various activities related to physical, intellectual and spiritual needs. We have a dedicated team of teachers who are willing to work with and teach our children. Balagokulam is a HTCI sponsored program. The child needs to be registered for Balagokulam and the registration form is available here.
			</div>
		</div>
		<div class="padding">
			<button class="button button-block" onclick="window.open('http://htci.org/Balagokulam/Balagokulam_Reg_Form_2014.pdf', '_system')">Donation Form</button>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				Balagokulam classes are held every Sunday from 10:30 to Noon. The Chetana Youth Classes only meet 2nd and 4th Sundays (10:30-noon).
			</div>
		</div>
		<ul class="list">
			<li class="item item-divider">
				Classes/Grades Offered
			</li>
			<li class="item">
				<h2>Dhruv</h2>
				<p>Kindergarten</p>
			</li>
			<li class="item">
				<h2>Eklavya</h2>
				<p>1st Grade</p>
			</li>
			<li class="item">
				<h2>Prahalad</h2>
				<p>2nd Grade</p>
			</li>
			<li class="item">
				<h2>Arjun</h2>
				<p>3rd Grade</p>
			</li>
			<li class="item">
				<h2>Krishna</h2>
				<p>4th Grade & 5th Grade</p>
			</li>
			<li class="item">
				<h2>Pre-Chetana</h2>
				<p>6th Grade through 8th Grade</p>
			</li>
			<li class="item">
				<h2>Chetana</h2>
				<p>9th Grade through 12th Grade</p>
			</li>
			<li class="item item-divider">
				Additional/Optional Classes
			</li>
			<li class="item">
				<h2>Hindi Class</h2>
				<p>Mahesh and Anita Gupta.</p>
				<p>For more info, contact <a href="tel:+13172910718">(317)291-0718</a></p>
			</li>
		</ul>
		<div class="card">
			<div class="item item-divider">
				Contact
			</div>
			<div class="item item-text-wrap">
				Kumar and Hansa Dave: <a href="tel:+13178897328">(317)889-7328</a><br>
				Anita Gupta: <a href="tel:+13176446648">(317)844-6648</a><br>
				Chetan Dave: <a href="tel:+13177695399">(317)769-5399</a><br>
				Poornima Kini: <a href="tel:+13175708499">(317)570-8499</a><br>
				Priyesh Kheradia: <a href="tel:+13175691336">(317)569-1336</a><br>
				Priya Menon: <a href="tel:+13179081306">(317)908-1306</a><br>
				Sangeeta Saravanan: <a href="tel:+13178160302">(317)816-0302</a>
			</div>
		</div>
	</ion-content>
</ion-view>
