<ion-view view-title="Hindu Temple of Central Indiana">
	<ion-content>
		<!--<img class="full-image" src="img/info/info.jpg" />-->
		<img class="full-image" src="img/home/logo.png" />
		<p class="padding" style="color: #697072; text-align:center">Hindu Temple of Central Indiana is a non-profit, tax exempt, religious organization</p>
		<div class="card">
			<div class="item item-divider">
				Address
			</div>
			<div class="item item-text-wrap">
				3350 North German Church Road,<br>
				Indianapolis, IN, 46235
				<button class="button button-block" ng-click="map()">View on Map</button>
			</div>
		</div>
	</ion-content>
</ion-view>
