<ion-view view-title="Hindu Temple of Central Indiana">
	<ion-content>
		<img class="full-image" src="img/home/logo.png" />
		<p class="padding" style="color: #697072;text-align:center">Hindu Temple of Central Indiana is a non-profit, tax exempt, religious organization</p>
		<div class="card">
			<div class="item item-divider">
				Weekdays
			</div>
			<div class="item item-text-wrap">
				9:00 AM - 11:30 AM and 6:00 PM - 8:00 PM
			</div>
			<div class="item item-divider">
				Saturday and Sunday
			</div>
			<div class="item item-text-wrap">
				9:00 AM - 8:00 PM
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Address
			</div>
			<div class="item item-text-wrap">
				3350 North German Church Road,<br>
				Indianapolis, IN, 46235
				<button class="button button-block button-positive" ng-click="map()">View on Map</button>
			</div>
		</div>
	</ion-content>
</ion-view>
