<ion-view view-title="Hours of Operation">
	<ion-content>
		<h2 style="text-align:center;">Temple Hours</h2>
		<div class="card">
			<div class="item item-divider">
				Weekdays
			</div>
			<div class="item item-text-wrap">
				9:00 AM - 11:00 AM and 6:00 PM - 8:00 PM
			</div>
			<div class="item item-divider">
				Saturday and Sunday
			</div>
			<div class="item item-text-wrap">
				9:00 AM - 8:00 PM
			</div>
		</div>
		<h2 style="text-align:center;">Aarti Hours</h2>
		<div class="card">
			<div class="item item-divider">
				Weekdays
			</div>
			<div class="item item-text-wrap">
				11:00 AM and 7:30 PM
			</div>
			<div class="item item-divider">
				Saturday and Sunday
			</div>
			<div class="item item-text-wrap">
				12:00 PM and 7:30 PM
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Guided Tours
			</div>
			<div class="item item-text-wrap">
				Tours of the Temple along with a brief introduction to Hinduism may be arranged on the first Monday of the month at 6 PM. Tours for a group of people are preferred. If you / your group would like to arrange a tour, please contact Indu Vasudevan at <a href="mailto:htcivasu@yahoo.com">htcivasu@yahoo.com</a>. Other times may be available upon request.
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				Phone/Email
			</div>
			<div class="item item-text-wrap">
				<a href="tel:+1-317-891-9199">(317)891-9199</a><br>
				<a href="mailto:webmaster@htci.org">webmaster@htci.org</a>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				For "Annadan" or Kitchen Sponsorship, please contact Mrs. Shanti Pathak, Kitchen Coordinator, at <a href="tel:+1-317-844-0466">(317)844-0466</a> or send an email to <a href="mailto:pathakgee@sbcglobal.net">pathakgee@sbcglobal.net</a>
			</div>
		</div>
	</ion-content>
</ion-view>
