<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Map Location</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeMap()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24516.35880548473!2d-85.97428457938864!3d39.817200229969714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b497788c013d1%3A0x7bb85458f0147679!2s3350+N+German+Church+Rd%2C+Indianapolis%2C+IN+46235!5e0!3m2!1sen!2sus!4v1429319060154" frameborder="0" style="border:0;width:100%;height:100%;" allowfullscreen></iframe>
	</ion-content>
</ion-modal-view>
