<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content class="has-tabs">
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu class="temple-orange" side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">HTCI</h1>
    </ion-header-bar>
		<ion-content class="has-tabs">
			<ion-list class="nav">
				<ion-item nav-clear menu-close href="#/app/index" class="item-icon-left"><i class="icon ion-home"></i>
					Home
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/info" class="item-icon-left"><i class="icon ion-ios-time"></i>
					Hours
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/calendar" class="item-icon-left"><i class="icon ion-calendar"></i>
					Calendar
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/sponsorship" class="item-icon-left"><i class="icon ion-cash"></i>Sponsorship</ion-item>
				<ion-item nav-clear menu-close href="#/app/donation" class="item-icon-left"><i class="icon ion-social-usd"></i>Donation</ion-item>
				<ion-item nav-clear menu-close href="#/app/volunteer" class="item-icon-left"><i class="icon ion-android-hand"></i>Volunteer</ion-item>
				<!--<ion-item nav-clear menu-close href="#/app/social-media" class="item-icon-left"><i class="icon ion-social-facebook"></i>
					Social Media
				</ion-item>-->
				<ion-item nav-clear menu-close onclick="window.open('https://www.facebook.com/pages/HTCI-Hindu-Temple/244766008966857', '_system')" class="item-icon-left"><i class="icon ion-social-facebook"></i>
					Facebook
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/balagokulam" class="item-icon-left"><i class="icon ion-ios-book"></i>
					Balagokulam
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/contact" class="item-icon-left"><i class="icon ion-ios-telephone"></i>
					Contact
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/about" class="item-icon-left"><i class="icon ion-information-circled"></i>
					About App
				</ion-item>
				<!--<ion-item nav-clear menu-close href="#/app/qr" class="item-icon-left"><i class="icon ion-qr-scanner"></i>
					QR Scanner
				</ion-item>-->
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
<div class="tabs tabs-temple">
	<a class="tab-item active" href="#/app/">
		HTCI
	</a>
	<a class="tab-item" href="#/updates/">
		Updates
	</a>
</div>
