<ion-view view-title="Meet the Priests">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="priest in priests" ng-click="toggleItem(priest)" class="item item-text-wrap">
				<div ng-class="isItemShown(priest) ? 'item-expand active' : 'item-expand inactive'">
					<h2>{{priest.title}}</h2>
					<p>{{priest.text1}}</p>
					<br ng-if="priest.hasOwnProperty('text2')">
					<p ng-if="priest.hasOwnProperty('text2')">{{priest.text2}}</p>
				</div>
				<div class="item-expand-footer">
					<i ng-class="isItemShown(priest) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
					{{ isItemShown(priest) ? 'Less' : 'More' }}
				</div>
			</ion-item>
		</ion-list>
  </ion-content>
</ion-view>
