<ion-view view-title="Priests">
<ion-content>

    <div class="list card" ng-click="openModal()">

        <div class="item item-avatar">
            <img src="img/HTCI.jpg">
            <h2>Sri Badrinath Shastri</h2>
            <p>Hindi, Nepali & English</p>
        </div>

    </div>

    <div class="list card" ng-click="openModal()">
        <div class="item item-avatar">
            <img src="img/HTCI.jpg">
            <h2>Sri Kirthivasan</h2>
            <p>Hindi, English, Tamil & Telugu</p>
        </div>
    </div>
    <div class="list card" ng-click="openModal()">

        <div class="item item-avatar">
            <img src="img/HTCI.jpg">
            <h2>Sri Ramaswami Bhattar</h2>
            <p>Hindi, English, Telugu, Kannada & Tamil</p>
        </div>
    </div>

  </ion-content>
</ion-view>
