<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Balagokulam</h1>
  </ion-header-bar>
  <ion-content>
		“Every child has that spark of divinity within.” –Swami Vivekananda
Balagokulam is a forum for children to discover and manifest that divinity. It will enable Hindu children in the US to appreciate their cultural roots and learn Hindu values. This is done through games, yoga, stories, bhajans, shlokas, arts and crafts. Balagokulam and Chetna (Youth) programs are of 90 minutes duration that includes various activities related to physical, intellectual and spiritual needs. We have a dedicated team of teachers who are willing to work with and teach our children. Balgokulam is a HTCI sponsored program. The child needs to be registered for Balagokulam and the registration form is available here. 
regsistration form: http://htci.org/Balagokulam/Balagokulam_Reg_Form_2014.pdf
Balagokulam classes are held every Sunday from 10:30 to Noon. The Chetana Youth Classes only meet 2nd and 4th Sundays (10:30-noon).
grades/classes offered
KG- Dhruv
1st Grade- Eklavya
2nd Grade- Prahalad
3rd Grade- Arjun
4th Grade & 5th Grade- Krishna
6th Grade through 8th Grade- Pre-Chetana
9th Grade through 12th Grade- Chetana
Additional/optional classes
Hindi class- Mahesh and Anita Gupta
for more info contact 317-291-0718.
Contact
Kumar and Hansa Dave: 317-889-7328
Anita Gupta: 317-844-6648
Chetan Dave: 317-769-5399
Poornima Kini: 317-570-8499
Priyesh Kheradia: 317-569-1336
Priya Menon: 317-908-1306
Sangeeta Saravanan: 317-816-0302
  </ion-content>
</ion-modal-view>
