<ion-view view-title="Sponsorship">
	<ion-content class="padding">
		<h2 class="dark">Membership Form</h2>
		<button class="button button-block" onclick="window.open('http://htci.org/Forms/Membership.pdf', '_system')">Membership Form</button>
		<h2 class="dark">Donation Form</h2>
		<button class="button button-block" onclick="window.open('http://htci.org/Forms/Donation.pdf', '_system')">Donation Form</button>
		<div class="card">
			<div class="item item-divider">
				Please send forms and checks to:
			</div>
			<div class="item item-text-wrap">
				Ravi Dinakaran<br>
				HTCI Treasurer<br>
				3350 North German Church Road<br>
				Indianapolis, IN 46235<br>
			</div>
		</div>
		<!--<button class="button button-block" ng-click="paypal()">Donate through Paypal</button>
				<button id="buyNowBtn"> Buy Now !</button>
				<button id="buyInFutureBtn"> Pay in Future !</button>
				<button id="profileSharingBtn"> Profile Sharing !</button>-->
	</ion-content>
</ion-view>
