<ion-view view-title="Sponsorship">
	<ion-content>
		<div class="row">
			<div class="col">
				<h3>Sponsorship</h3>
				<button class="button button-block" onclick="window.open('http://htci.org/Forms/Sannidhi.pdf', '_system')">Sannidi Sponsorship Form</button>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>Membership Form</h4>
				<button class="button button-block" onclick="window.open('http://htci.org/Forms/Membership.pdf', '_system')">Membership Form</button>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>Donation Form</h4>
				<button class="button button-block" onclick="window.open('http://htci.org/Forms/Donation.pdf', '_system')">Donation Form</button>
				<hr>
			</div>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				<p>Please send your General Donations form / Sannidhi Sponsorship/ Membership form with your check to:</p>
				Ravi Dinakaran<br>
				HTCI Treasurer<br>
				3350 North German Church Road<br>
				Indianapolis, IN 46235<br>
			</div>
		</div>
		<!--<button class="button button-block" ng-click="paypal()">Donate through Paypal</button>
		<button id="buyNowBtn"> Buy Now !</button>
		<button id="buyInFutureBtn"> Pay in Future !</button>
		<button id="profileSharingBtn"> Profile Sharing !</button>-->
	</ion-content>
</ion-view>
