<ion-view view-title="Volunteer">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				Areas that Need Volunteer Service
			</div>
			<div class="item item-text-wrap" ng-repeat="item in list">
				<h2>{{item.area}}</h2>
				<p>{{item.description}}</p>
			</div>
		</div>
		<div class="padding">
				<button class="button button-block" onclick="window.open('https://docs.google.com/forms/d/18FBDGJKO-Sj7dTeoypBpziBZtwhy4GQlQlculmSeytk/viewform?c=0&w=1', '_system')">Volunteer Pledge Sheet</button>
		</div>
		<div class="card">
			<div class="item item-text-wrap">
				Contact Nabin Pudasaini Email: <a href="mailto:nabin.pudasaini@htci.org">nabin.pudasaini@htci.org</a>
			</div>
		</div>
	</ion-content>
</ion-view>
