/* Empty. Add your own CSS if you like */
.scroll-content {
	background-color: #059c93;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
	background-color: #f09100;
}

.bar.bar-stable {
	border-color: #D58700;
	background-color: #f09100;
}

.bar-stable .button.button-clear,
.bar.bar-stable .title {
	color: white;
}

.card {
	box-shadow: none;
	background-color: transparent;
}

.item {
	background-color: transparent;
}

.item p {
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.item-complex .item-content, .item-radio .item-content {
	background-color: #f09100;
	color: white;
	font-weight: 600;
}

.list .item {
	border: none;
}

.menu .scroll-content {
	background-color: #f09100;
}