/* Empty. Add your own CSS if you like */
hr {
	border: 0;
	margin: 20px 0;
	border-top:1px solid #444;
}

/*
  Color Changes
  Eventually change these all into classes
*/

.scroll {
	height: 100%;
}

.bar.bar-stable {
	border-color: #D58700;
	background-color: #FF9A00;
}

.bar-stable .button.button-clear,
.bar.bar-stable .title {
	color: #fff;
}

.nav .item,
.nav .item .item-content {
	background-color: #FF9A00;
	color: #fff;
	font-weight: 600;
}

.temple-orange .item .item-content.activated {
	background-color: #F07700;
}

.nav .list .item {
	border: none;
}

.temple-orange {
	background-color: #FF9A00;
}

.temple-orange .button,
.temple-orange .button:hover,
.temple-orange .title {
	color: #fff;
}

.tabs-temple {
	background-color: #FF9A00;
	color: #fff;
	border-color: #E28800;
}

#calendar {
	/*padding: 20px;*/
}

.fc-toolbar h2 {
	font-size: 25px;
}

ion-slide {
	text-align: center;
}

#help-list .item,
#help-list .item .item-content {
	background-color: #003BFF; /* This blue is temporary */
}

#help-list .item .item-content.activated {
	background-color: #002FC9 /* Also temporary */
}

.button-contact {
	font-size: 32px;
}

/* Make the arrow icon in contact list a little more subtle */
.contact-list.item > .item-content > i.icon {
	color: #ddd;
}

/*
  Calendar CSS
*/

.fc-header,
.fc-time {
	font-weight: bold;
}

.fc-list-view {
	overflow: visible;
	//border-right: 1px solid #ddd;
}

.fc-list-view table {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.fc-list-view table tbody{ /*Stupid solution to a stupid bug*/
	border-right: 2px solid #ddd;
}

/* CORE */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 60px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
}

.item-expand.active {
  max-height: 1000px;
  transition: max-height 0.3s ease-out;
}

.item-expand-footer {
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}